<!-- header -->
<header>
	<ul class="nav nav-tabs">
		<li>
			<a href="<%= uri.app.link.home %>">
				<%= __('home') %>
			</a>
		</li>
		<li>
			<a href="<%= uri.app.link.my_account %>" target="_self">
				<%= __('my_account') %>
			</a>
		</li>
		<li>
			<a href="<%= uri.app.link.my_posts %>" target="_self">
				<%= __('my_posts') %>
			</a>
		</li>
		<li>
			<a href="<%= uri.app.link.create_post %>" target="_self">
				<%= __('create_new_post') %>
			</a>
		</li>
		<li>
			<a href="<%= uri.app.link.rss %>" target="_self">
				<%= __('rss_menu') %>
			</a>
		</li>
		<li>
			<a href="<%= uri.app.link.login %>" target="_self">
				<%= __('logout') %>
			</a>
		</li>
	</ul>
</header>