<!-- header -->
    <header>
        <ul class="nav nav-tabs">
            <li><a href="<%= uri.app.home %>"><%= __('home') %></a></li>
            <li><a href="<%= uri.app.my_account %>" target="_self"><%= __('my_account') %></a></li>
            <li><a href="<%= uri.app.my_posts %>" target="_self"><%= __('my_posts') %></a></li>
            <li><a href="<%= uri.app.create_post %>" target="_self"><%= __('create_new_post') %></a></li>
            <li><a href="<%= uri.app.login %>" target="_self"><%= __('logout') %></a></li>
        </ul>
    </header>