<!-- header -->
    <header>
        <ul class="nav nav-tabs">
            <li><a href="/"><%= lang.home %></a></li>
            <li><a href="<%= uri.app.my_account %>" target="_self"><%= lang.my_account %></a></li>
            <li><a href="/post/myposts" target="_self">My Posts</a></li>
            <li><a href="/post/create" target="_self"><%= lang.create_new_post %></a></li>
            <li><a href="<%= uri.app.login %>" target="_self"><%= lang.logout %></a></li>
        </ul>
    </header>