<%- include('partials/header') %>
<div class="forgtpwd form-container">
    <h2><%= lang.frgtpwd %></h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="email"><%= lang.email %></label>
            <input type="email" name="email" id="email" value="<%= locals.email || '' %>" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary"><%= lang.reset_text %></button><br/>
            <%= lang.click_here %> <a href="<%= uri.app.login %>"><%= lang.login %></a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>